body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding-right: 40px;
}

.settings-container {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  width: 100%;
}

.setting-group,
.setting-item {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

.help-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.help-button:hover {
  background-color: #0056b3;
}

.logout-button {
  display: block;
  width: 100%;
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #c82333;
}

.terms-link {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: underline;
  text-align: center;
  font-size: 14px;
}

.terms-link:hover {
  color: #0056b3;
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 80%;
  text-align: left;
}

#closeHelpButton,
#closeTermsButton {
  background-color: #f44336;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

#closeHelpButton:hover,
#closeTermsButton:hover {
  background-color: #c0392b;
}

.dark-mode {
  background-color: #121212;
  color: #121212;
}
