/* You can add global styles to this file, and also import other style files */

.note-actions button i {
  font-size: 16px;       
  vertical-align: middle; 
  margin-right: 5px;     
  color: white;         
}
